:root {
  --color-white: #fff;
  --color-grey: #f4f4f4;
  --color-light-grey: #f8f9fa;
  --color-dark-grey: #e2e8f0;
  --color-black: #292922;
  --color-light-black: #2d3748;
  --color-text: #718096;
  --color-purple: #5a67d8;
  --font-family-primary: 'Hind', sans-serif;
  --font-family-secondary: 'Libre Baskerville', sans-serif;
  --border-radius: 6px;
  --border-radius-full: 15px;
  --box-shadow-sm: 1px 1px 5px 0px rgba(1, 1, 1, 0.05);
  --box-shadow-hover: 4px 4px 10px rgb(71 63 79 / 16%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@mixin flexItem() {
  display: flex;
  justify-content: space-between;
}

/* Layout */
.container {
  width: 95%;
  max-width: 992px;
  margin: auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-primary);
  color: var(--color-text);
  background-color: var(--color-light-grey);
}

/* Utility */
.category-tag {
  display: inline-block;
  color: var(--color-purple);
  font-weight: 600;
  padding: 0.8rem 2rem;
  background-color: #ededf3;
  border-radius: var(--border-radius-full);
}

/* HEADER */
.header {
  background-color: var(--color-white);
  padding: 1.5rem 0;

  .container {
    align-items: center;
    @include flexItem();
  }

  .logo {
    color: var(--color-black);

    i {
      color: var(--color-purple);
    }
  }
}

.menu {
  display: flex;

  &-link {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 0 1.5rem;
    display: block;
    color: var(--color-text);
    transition: all 0.25s;

    &:hover {
      color: var(--color-purple);
    }
  }

  &-item {
    &:last-child {
      .menu-link {
        padding-right: 0;
      }
    }

    &.active {
      .menu-link {
        color: var(--color-purple);
      }
    }
  }
}

/* CATEGORY BOX */
.category-box {
  background-color: var(--color-grey);
  padding: 6rem 0;

  &-item {
    background-color: var(--color-white);
    border-radius: var(--border-radius-full);
    width: 23%;
    box-shadow: var(--box-shadow-sm);
    padding: 2rem;
    text-align: center;
  }

  &-icon {
    color: var(--color-purple);
  }
}

/* Featured Article */
.featured-article {
  background-color: var(--color-grey);
  padding-bottom: 6rem;

  &-info {
    width: 65%;
  }

  &-title {
    font-family: var(--font-family-secondary);
    color: var(--color-light-black);
    font-size: 3rem;
    margin: 2rem 0;
  }

  &-thumb {
    width: 30%;
    border-radius: var(--border-radius-full);
  }
}